@media (max-width: 1250px) {
  .store-geo {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 80px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 150px;
}
  .button {
  width: 120px;
  height: 45px;
  background-color: #325DFF;
  color: #FFFFFF;
  border-radius: 30px;
  border:none;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  cursor: pointer;
}
  .button-box {
  text-align: center;
  margin-top: 90px;
}
  .pixel-head {
  font-size: 40px;
  padding-top: 25px;
  padding-left: 75px;
  padding-right: 75px;
}
  .pixel-p {
  font-size: 16px;
  margin-top: 20px;
  padding-left: 75px;
  padding-right: 75px; 
}

@media (max-width: 890px) {
  .store-geo {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 55px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 90px;
}
  .button-box {
  text-align: center;
  margin-top: 85px;
}
  .button {
  width: 200px;
  height: 60px;
  background-color: #325DFF;
  color: #FFFFFF;
  border-radius: 30px;
  border:none;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  cursor: pointer;
}
  .pixel-head {
  font-size: 30px;
  padding-top: 30px;
  padding-left: 60px;
  padding-right: 60px;
}
  .pixel-p {
  font-size: 15px;
  margin-top: 20px;
  padding-left: 60px;
  padding-right: 60px; 
}
  .sec-4-header {
  font-size: 25px;
  margin-left: 30px;
  margin-top: 50px;
  margin-bottom: 0px;
}
  .sec-4-p {
  font-size: 16px;
  margin-left: 30px;
  margin-right: 30px;
}
  .button-1 {
  margin-top: 50px;
  width: 250px;
  height: 50px;
  font-size: 12px;
  margin-left: 40px;
}
  .footer {
  height: 60px;
}
  .copyright {
  font-size: 17px;
}
@media (max-width: 600px) {
  .nav-li {
  margin-right: 10px;
}
  .pixel-geo {
    height: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #FFFFFF;
  }
  .nav-a {
  color: #D9F0FF;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
  .header {
  padding-top: 47px;
  padding-left: 20px;
}
  .header-div {
  color: #D9F0FF;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

}
  .store-geo {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 50px;
}
  .button-box {
  text-align: center;
  margin-top: 15px;
}
  .button {
  width: 150px;
  height: 50px;
  background-color: #325DFF;
  color: #FFFFFF;
  border-radius: 30px;
  border:none;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  cursor: pointer;
}
  .button-1 {
  margin-top: 15px;
  width: 170px;
  height: 50px;
  font-size: 10px;
  margin-left: 25px;
}
  .google-h3 {
  font-size: 20px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
  .google-2p{
  font-size: 12px;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px; 
}
@media (max-width: 350px) {
  .wraper {
  border: none;
  background-color: #FAFAFA;
  margin-bottom: 0px;
}
  .sec-4-h1 {
  font-size: 18px;
  margin-bottom: 20px;
}
  .sec-4-p1 {
  font-size: 12px;
}
  .footer {
  height: 30px;
}
  .copyright {
  font-size: 12px;
}
  .button-1{
  margin-top: 15px;
  width: 90px;
  height: 40px;
  font-size: 10px;
  margin-left: 25px;
}